# Node / Frontend
node_modules/
dist/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/
*.iml
.idea/
.vscode/
*.ipr
*.iws

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/

# OS / Misc
.DS_Store
Thumbs.db
*.log
